#header_img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
div#title_div {
  position: relative;
}

h1  {
  margin: auto;
  width: 100%;
  color: #ffffff;
  text-shadow: 2px 2px black;
  text-align: center;
}

#scroll_to_new_survey {
  margin: 10% 40% 0 40%;
  width: 100%;
}

#scroll_to_new_survey input{
  margin: 0 5%;
  background-color:white;
  border-radius: 7px;
  transition: transform 0.5s;
}

#scroll_to_new_survey input:hover{
  opacity: 0.5;
  transform:rotate(720deg);
}

h2 {
  color: white;
  text-shadow: 2px 2px black;
}

#question_list{
  margin-top: 10px;
}

.question{
  width: 700px;
}

.rowColorGray{
  background-color: #aaa;
}

.rowColorGreen{
  background-color: green;
}

.question_id{
  width:5%;
  float: left;
  padding: 5px;
}

.question_content{
  width: 60%;
  float: left;
  padding: 5px;
}

.question_delete{
  width: 25%;
  float: left;
  padding: 5px;
}

.clearfix{
  clear: both;
}

