#header_img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
div#title_div {
  position: relative;
}
h1  {
  margin: auto;
  width: 100%;
  color: #ffffff;
  text-shadow: 2px 2px black;
  text-align: center;
}
#new_survey {
  position: relative;
}
