#header_img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
div#title_div {
  position: relative;
}

h1  {
  margin: auto;
  width: 100%;
  color: #ffffff;
  text-shadow: 2px 2px black;
  text-align: center;
}

#survey_form {
  width: 600px;
  margin: auto;
  text-align: center;
}

#finish_button{
  width: 400px;
  margin: auto;
  text-align: center;
}

#scroll_to_new_survey {
  width: 400px;
  margin: auto;
  text-align: center
}

#scroll_to_new_survey input{
  background-color:white;
  border-radius: 7px;
}

h2 {
  color: white;
  text-shadow: 2px 2px black;
}

#question_form{
  width: 600px;
  margin: auto;
}

#finish_button{
  display: none;
}

#question_list{
  width: 600px;
  margin: auto;
}

#surveylist{
  padding: 10px;
  width: 400px;
  margin: auto;
  background-color: #555;
  text-align: center;
}

.survey_item{
  color: #eee;
  padding: 5px;
}

.survey_item a{
  color: #eee;
}

.question{
  width: 700px;
}

.rowColorGray{
  background-color: #aaa;
}

.rowColorGreen{
  background-color: green;
}

.question_id{
  width:5%;
  float: left;
  padding: 5px;
}

.question_content{
  width: 60%;
  float: left;
  padding: 5px;
}

.question_delete{
  width: 25%;
  float: left;
  padding: 5px;
}

.clearfix{
  clear: both;
}

