<div id="new_survey">
  <form id="survey_form" action ="/surveys" method="post">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="author" placeholder="Author" />
    <input type="submit" value="Create Survey">
  </form>
</div>



