<form id="new_question" action ="/questions" method="post">
  <input id="content" type="text" name="content" placeholder="Content" />
  <input id ="survey_id" type="hidden" name="survey_id">
  <input type="submit" value="Add Question">
</form>
