<form id="new_survey" action ="/surveys" method="post">
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="author" placholder="Author" />
  <input type="submit" value="Create Survey">
</form>

  <!-- <input type="text" name="content" placholder="Question" /> -->
<!--   <input type="submit" name="add_question" value="New Question">
 -->

