<div id="new_survey">
  <form id="survey_form" action ="/surveys" method="post">
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="author" placeholder="Author" />
    <input type="submit" value="Create Survey">
  </form>
</div>



<!-- form id="new_question" -->
  <!-- <input id="question" type="text" name="content" placholder="Question" /> -->

<!--   <input type="submit" name="add_question" value="New Question">
 -->




