<div class="question" id="<%=question.id%>">
  <div class="question_id">
    <%=question.id%>
  </div>
  <div class="question_content">
    <%=question.content%>
  </div>
  <div class="question_delete">
    <a data-id="<%=question.id%>" href="#" class="questionDeleteButton">Delete</a>
  </div>
  <div class="clearfix"></div>
</div>