<%= @survey.title %>
<% @all_questions.each do |question|%>
<h2><%= question.content %></h2>
<p>"Yes" answers:</p>
<div style="width:<%= question.yes %>%;background-color:blue;">
</div><br>
<p>"No" answers:</p>
<div style="width:<%= question.no %>%; background-color:red;">
</div><br>
<% end %>


